<% provide(:title, 'About Us') %>

<h4> What Can This Webisite Do? </h4>
<h2> ------ It is a website in which you can share your recipes!</h2>
<h2> ------ You can follow other users in this website and communicate with them!</h2> 
<h2> ------ You can comment on others' shared recipes to give them some advices.</h2>
<h2> ------ You can collect other users' recipes into your favorites if you like!</h2>
<h2> ------ You can contact me if you have any problems!</h2>