<% provide(:title, 'About Us') %>

<h4> What Can This Webisite Do? </h4>
<h2> ------ It is a website in which you can add the shopping lists!</h2>
<h2> ------ It can also provide you the latest shopping news!</h2> 
<h2> ------ You can contact me if you have any problems!</h2>