  <aside class="col-md-4"> 
    <ul class="homepage-cats" style="list-style-type:none">
      <li class="homepage-cat-has-submenu homepage-cat0 " >
        <img src="/assets/catagory/break.png", alt="icon0" />
        <%= link_to "Breakfast", breakfast_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat1 " >
        <img src="/assets/catagory/lunch.png", alt="icon1" />
        <%= link_to "Lunch", lunch_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat2 " >
        <img src="/assets/catagory/pasta.png", alt="icon2" />
        <%= link_to "Pasta", pasta_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat3 " >
        <img src="/assets/catagory/drink.png", alt="icon3" />
        <%= link_to "Drink", drink_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat4 " >
        <img src="/assets/catagory/gruel.png", alt="icon4" />
       <span class="cat-name">Gruel</span>
      </li>
  
      <li class="homepage-cat-has-submenu homepage-cat5 " >
        <img src="/assets/catagory/soup.png", alt="icon5" />
        <span class="cat-name">Soup</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat6 " >
        <img src="/assets/catagory/cold.png", alt="icon6" />
        <span class="cat-name">Cold Dish</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat7 " >
        <img src="/assets/catagory/fry.png", alt="icon6" />
        <span class="cat-name">Fried Food</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat8 " >
        <img src="/assets/catagory/fish.png", alt="icon8" />
        <span class="cat-name">Fish</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat9 " >
        <img src="/assets/catagory/veg.png", alt="icon9" />
        <span class="cat-name">Vegetable</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat10 " >
        <img src="/assets/catagory/fruit.png", alt="icon10" />
        <span class="cat-name">Fruit</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat11 " >
        <img src="/assets/catagory/bake.png", alt="icon11" />
        <span class="cat-name">Bakery</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat12 " >
        <img src="/assets/catagory/diet.png", alt="icon13" />
        <span class="cat-name">Diet Menu</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat13 " >
        <img src="/assets/catagory/meat.png", alt="icon7" />
        <span class="cat-name">Meat</span>
      </li>
    </ul>
  </aside>
