<% provide(:title, 'Lemonchi') %>
<div class="row" >
  <%= render 'recipes/catagory' %>
  <ul class="detail", style="list-style-type:none">
  	<h3>This is one of the most popular main dish chicken recipes. Pair it with crisp veggies and a side of rice for a delicious dinner.</h3>
    <li><img src="/assets/list/LemonChi.png", alt="LemonChi" /></li>
    <li><%= link_to "Collect", '#', class: "collect" %></li>
    <h3>Step:</h3>
    <li class="step">1. Cut each chicken breast in half lengthwise. </br>2. Place chicken between 2 sheets of heavy-duty plastic wrap</br>3. Flatten to 1/4-inch thickness, using a rolling pin or flat side of a meat mallet.</br>4. Sprinkle chicken with salt and pepper. Lightly dredge chicken in flour, shaking off excess.</br>5. Cook half of chicken in skillet 2 to 3 minutes on each side or until golden brown and done. </br>6. Add broth and lemon juice to skillet, and cook 1 to 2 minutes </br>7.  Remove skillet from heat; add parsley and remaining 2 Tbsp. butter, and stir until butter melts. Pour sauce over chicken.</li>
  </ul>
</div>