// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Users index */

.userhead{color:#CD5C5C;}
    
.userblock {
    padding:50px;
    width: 600px;
    height: 900px;
    margin-left: 280px;
    background-color:#F0F8FF;
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid #B0C4DE;
    }
}
